.grid-cell {
    min-height: 20vh;
    margin: 1%;
    padding: 5%;
    color: rgb(32, 32, 32);
}

.action-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
body {
    font-family: 'Courier New', monospace;
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#upload, #upload1, #upload2 {
    opacity: 0;
}

#upload-label, #upload-label1, #upload-label2 {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area, .image-area1 , .image-area2 {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area1::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}
.image-area2::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area1 img {
    z-index: 2;
    position: relative;
}

.image-area2 img {
    z-index: 2;
    position: relative;
}

.logo-company-grid {
    max-width: 100px;
    max-height: auto;
}

.company-name-column {
    margin: auto;
    width: 50%;
}

#CompanyNameLink:hover {
    background-color:darkgray;
}